<%- include('./../partials/header') %>

<%- include('./navbar') %>

<main>
    <% if(locals.category) { %>
        <h4>Category: <%= category %></h4>
    <% } %>

    <% if(messages.hasOwnProperty('error')) { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%= messages['error'][0] %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } %>

    <% if(messages.hasOwnProperty('success')) { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%= messages['success'][0] %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } %>

    <div class="row">
      <% for(let product of products) { %>
        <div class="col">
          <div class="card" style="width: 18rem;">
            <% if(product.productImage) { %>
                <img src="<%= product.productImage %>" class="card-img-top">
            <% } else { %>
                <img src="https://media.istockphoto.com/vectors/thumbnail-image-vector-graphic-vector-id1147544807?k=20&m=1147544807&s=612x612&w=0&h=pBhz1dkwsCMq37Udtp9sfxbjaMl27JUapoyYpQm0anc=" class="card-img-top">
            <% } %>
            <div class="card-body">
              <h5 class="card-title"><%= product.productName %></h5>
              <p class="card-text h6"><%= product.description.substr(0, 60) %>...</p>
              <span class="card-down">
                <p class="card-text h4">₹ <%= product.price %></p>
                <a href="/user/product/<%= product._id %>" class="btn btn-primary">View</a>
              </span>
            </div>
          </div>
        </div>
    <% } %>
    </div>
</main>

<%- include('./../partials/footer') %>